<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\caminho\para\python.exe|C:\caminho\para\wfastcgi.py" #mudar para o caminho real do projeto.#
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="app.py" />
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
  </appSettings>
</configuration>
